.comment {
    border: none;
    margin: 0 20px;
    padding: 20px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.commenter-name {
    font-weight: bold;
}

p{
    margin: 0;
    text-align: start;
    color:gray
}

.reaction-time{
    display: flex;
    flex-direction: row;
    gap:100px;
}

.comment-time{
    display: flex;
    align-items: end;
}

.reply-btn{
    background-color: white;
    border: none;
    display: flex;
    align-items: end;
    cursor: pointer;
}

.submit-btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

.textarea{
    min-width: 80%;
    min-height: 120px
}

.comment-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comment-text.expanded {
    white-space: normal;
}

.show-more-less {
    cursor: pointer;
    color: #007bff;
    font-size: 14px;
}

.show-more-less:hover {
    text-decoration: underline;
}

.textrea{
    min-width:80%;
    min-height:120px;
}

.submit-btn,
.reply-btn{
    color:blue;
    border:none;
    cursor: pointer;
}