.comment-section{  
    border-radius: 20px;
    width:784px;
    min-height:1678px;
    max-width:100%;
    padding:10px;
    margin:0 20%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 5px #0000001A;
}

.comment-box{
    width:690px;
    min-height:194px;
    border-radius:20px;
    border:1px solid gray;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.comment-box .quill-container {
    border:none
}

.ql-toolbar {
    order: 2; /* Place toolbar after the content */
}

.ql-container {
    order: 1; /* Place content before the toolbar */
}

hr{
    border-top: 1.5px solid black;
    margin: 10px 0;
}

.ql-send::before {
    content: 'Send';
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    color:white;
    background-color: black;
    border-radius: 5px;
}

